{% extends "base.html" %}
{% block title %}Sentiment List{% endblock %}
{% load staticfiles %}

      {% block body %}
      <div id="wrapper">
        <div id="page-wrapper">
          <div class="row">
            <div class="col-lg-6 full-width margin-top-20percent" >
              <div class="panel panel-default full-width">

                <div class="panel-heading">
                  Edit Help
                </div>

                <div class="panel-body full-width full-height">
                  <table id="sentiment-list-table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline full-width">
                    <thead>
                      <tr>
                        <th>銘柄コード</th>
                        <th>会社名</th>
                        <th>日付</th>
                        <th>ポジティブ</th>
                        <th>ニュートラル</th>
                        <th>ネガティブ</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for st in sentiment %}
                      <tr>
                        <td>{{st.code}}</td>
                        <td>{{st.name}}</td>
                        <td>{{st.date}}</td>
                        <td>{{st.positive}}</td>
                        <td>{{st.neutral}}</td>
                        <td>{{st.negative}}</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
            $('#sentiment-list-table').DataTable({
                responsive: true,
                // sort機能の無効化
                ordering: true,
                // ページの表示件数を変更する
                displayLength: 20,
            });
        });
      </script>
      {% endblock %}/html>